.userImg {
  min-height: 300px;
  max-height: 300px;
  object-position: center center;
  object-fit: contain;
  width: 100%;
}
.card {
  max-width: 300px;
}
.lens {
  min-height: 30px;
  max-height: 30px;
  object-position: center center;
  object-fit: contain;
  width: 100%;
}
.botones {
  cursor: pointer;
}
